# Flake8 test the repo.

name: Flake8

on:
  push:
    branches: [ main, WD, manke]
  pull_request:
    branches: [ main, WD, manke]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: flake8
        uses: actions/checkout@v2
        with:
          python-version: 3.9.2
      - run: |
          python -m pip install --upgrade pip  
          pip install flake8==4.0.1
          flake8
